<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539624942834-rhaboqrp0sbofpm3nvnanv5bgpjbb38u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539624942834-rhaboqrp0sbofpm3nvnanv5bgpjbb38u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539624942834-9sqjnfbvm12a95eouiep0upn3qpsi6el.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXaC44FnA7RpsQTXOv6-hIoU35T1sPM5g</string>
	<key>GCM_SENDER_ID</key>
	<string>539624942834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-flutter-8dd84</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-flutter-8dd84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539624942834:ios:e09cf5dc7fcc48ba0ef46b</string>
</dict>
</plist>